body, html
{

	margin                      : 0px;
	padding                     : 0px;
	background-color            : #ffffff;
	overflow-x                  : hidden;

	-webkit-background-clip     : padding-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-font-smoothing      : antialiased;

	.select-disabled;
	overflow-x                  : hidden;

	&.navigation-enabled
	{
		overflow : hidden;
	}

}

body
{
	font-size      : 14px;
	min-width      : 100%;
	max-width      : 100%;
	text-rendering : optimizelegibility;

}

.preload
{
	transition : none !important;
}

#main-wrapper
{
	//	min-height       : 100%;
	//	width            : 100%;
	//	min-height       : 442px;
	//	min-width        : 320px;
	//	background-color : #ffffff;
	//	margin-top       : -1px;
	//	overflow-x       : hidden;
	//	@media only print
	//	{
	//		overflow-x : visible;
	//	}

	//add shadow to box
	/*	left: 0px;
		top: 0px;
		z-index: 1000;
		visibility: visible;
		opacity: 1;
		background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.65098) 100%);
		*/

}

.nav-cotainer
{
	background-color    : #000000;
	-webkit-perspective : 1000px;
	-ms-perspective     : 1000px;
	perspective         : 1000px;

	margin-top          : -320px;

	-webkit-transition  : all 600ms ease;
}

.nav
{
	width  : 100%;
	min-height : 320px;
	.box
	{
		background               : blue;
		-webkit-transform-origin : 50% 100%;
		-moz-transform-origin    : 50% 100%;
		-ms-transform-origin     : 50% 100%;
		transform-origin         : 50% 100%;
		-webkit-transition       : all 600ms ease;
		transition               : all 600ms ease;
		-webkit-transform        : rotateX(90deg);

	}
}

.navigation-enabled
{
	.nav-cotainer
	{
		margin-top : 0px;
	}
	.nav
	{
		.box
		{
			-webkit-transform : none;
		}
	}
}



